<h1>Listing genes</h1>

<table>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th>Chromosome</th>
    <th>Strand</th>
    <th>Start position</th>
    <th>End position</th>
    <th>Coding start position</th>
    <th>Coding end position</th>
    <th>Exon count</th>
    <th>Exon start positions</th>
    <th>Exon end positions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @genes.each do |gene| %>
  <tr>
    <td><%= gene.symbol %></td>
    <td><%= gene.name %></td>
    <td><%= gene.chromosome %></td>
    <td><%= gene.strand %></td>
    <td><%= gene.start_position %></td>
    <td><%= gene.end_position %></td>
    <td><%= gene.coding_start_position %></td>
    <td><%= gene.coding_end_position %></td>
    <td><%= gene.exon_count %></td>
    <td><%= gene.exon_start_positions %></td>
    <td><%= gene.exon_end_positions %></td>
    <td><%= link_to 'Show', gene %></td>
    <td><%= link_to 'Edit', edit_gene_path(gene) %></td>
    <td><%= link_to 'Destroy', gene, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gene', new_gene_path %>
